<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KhaataBook</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="h-screen p-4 text-green-500 justify-between flex w-screen bg-zinc-800">
<h1 class="">KhaataBook</h1>
<div>

    <a class="text-yellow-500 mr-10 " href="/create">Create</a>
</div>
    </div>
    
</body>
</html>